services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Pool
    NetBull\MediaBundle\Provider\Pool:
        arguments:
            - ''  # context - set by extension
        public: true

    NetBull\MediaBundle\Provider\PoolInterface:
        alias: NetBull\MediaBundle\Provider\Pool

    # Thumbnail
    NetBull\MediaBundle\Thumbnail\FormatThumbnail: ~

    # Signature
    NetBull\MediaBundle\Signature\SimpleSignatureHasher:
        arguments:
            $secret: '%kernel.secret%'

    NetBull\MediaBundle\Signature\SignatureHasherInterface:
        alias: NetBull\MediaBundle\Signature\SimpleSignatureHasher

    # Providers
    netbull_media.provider.image:
        class: NetBull\MediaBundle\Provider\ImageProvider
        autowire: false
        tags:
            - { name: netbull_media.provider }
        arguments:
            - 'netbull_media.provider.image'
            - ~  # filesystem - set by compiler pass
            - ~  # cdn - set by compiler pass
            - '@NetBull\MediaBundle\Thumbnail\FormatThumbnail'
            - '@router'
            - '@NetBull\MediaBundle\Signature\SimpleSignatureHasher'
            - ~  # adapter - set by extension
            - []  # allowed_extensions - set by extension
            - []  # allowed_mime_types - set by extension
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'
        calls:
            - setTemplates: [{ helper_thumbnail: '@@NetBullMedia/Provider/thumbnail.html.twig', helper_view: '@@NetBullMedia/Provider/view_image.html.twig' }]

    netbull_media.provider.file:
        class: NetBull\MediaBundle\Provider\FileProvider
        autowire: false
        tags:
            - { name: netbull_media.provider }
        arguments:
            - 'netbull_media.provider.file'
            - ~  # filesystem
            - ~  # cdn
            - '@NetBull\MediaBundle\Thumbnail\FormatThumbnail'
            - '@router'
            - '@NetBull\MediaBundle\Signature\SimpleSignatureHasher'
            - []  # allowed_extensions
            - []  # allowed_mime_types
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'
        calls:
            - setTemplates: [{ helper_thumbnail: '@@NetBullMedia/Provider/thumbnail.html.twig', helper_view: '@@NetBullMedia/Provider/view_file.html.twig' }]

    netbull_media.provider.youtube:
        class: NetBull\MediaBundle\Provider\YouTubeProvider
        autowire: false
        tags:
            - { name: netbull_media.provider }
        arguments:
            - 'netbull_media.provider.youtube'
            - ~  # filesystem
            - ~  # cdn
            - '@NetBull\MediaBundle\Thumbnail\FormatThumbnail'
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'
            - true  # html5
        calls:
            - setTemplates: [{ helper_thumbnail: '@@NetBullMedia/Provider/thumbnail.html.twig', helper_view: '@@NetBullMedia/Provider/view_youtube.html.twig' }]

    netbull_media.provider.vimeo:
        class: NetBull\MediaBundle\Provider\VimeoProvider
        autowire: false
        tags:
            - { name: netbull_media.provider }
        arguments:
            - 'netbull_media.provider.vimeo'
            - ~  # filesystem
            - ~  # cdn
            - '@NetBull\MediaBundle\Thumbnail\FormatThumbnail'
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'
        calls:
            - setTemplates: [{ helper_thumbnail: '@@NetBullMedia/Provider/thumbnail.html.twig', helper_view: '@@NetBullMedia/Provider/view_vimeo.html.twig' }]

    netbull_media.provider.youku:
        class: NetBull\MediaBundle\Provider\YoukuProvider
        autowire: false
        tags:
            - { name: netbull_media.provider }
        arguments:
            - 'netbull_media.provider.youku'
            - ~  # filesystem
            - ~  # cdn
            - '@NetBull\MediaBundle\Thumbnail\FormatThumbnail'
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'
        calls:
            - setTemplates: [{ helper_thumbnail: '@@NetBullMedia/Provider/thumbnail.html.twig', helper_view: '@@NetBullMedia/Provider/view_youku.html.twig' }]

    # Event Listener
    NetBull\MediaBundle\EventListener\MediaListener: ~

    # Image Adapters
    netbull_media.adapter.image.imagick:
        class: Imagine\Imagick\Imagine
        autowire: false

    netbull_media.adapter.image.gd:
        class: Imagine\Gd\Imagine
        autowire: false

    # Resizers
    netbull_media.resizer.simple:
        class: NetBull\MediaBundle\Resizer\SimpleResizer
        autowire: false
        arguments:
            - ~  # adapter - set by extension
            - '%netbull_media.resizer.simple.adapter.mode%'
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'

    netbull_media.resizer.square:
        class: NetBull\MediaBundle\Resizer\SquareResizer
        autowire: false
        arguments:
            - ~  # adapter - set by extension
            - '%netbull_media.resizer.square.adapter.mode%'
            - '@NetBull\MediaBundle\Metadata\AmazonMetadataBuilder'

    # CDN
    netbull_media.cdn.server:
        class: NetBull\MediaBundle\Cdn\Server
        autowire: false
        arguments:
            - ''  # path - set by extension
            - []  # paths - set by extension

    netbull_media.cdn.local.server:
        class: NetBull\MediaBundle\Cdn\LocalServer
        autowire: false
        arguments:
            - ''  # path
            - ''  # dev path
            - ''  # directory
            - []  # paths

    # Security Strategies
    NetBull\MediaBundle\Security\PublicSecurityStrategy: ~

    netbull_media.security.public_strategy:
        alias: NetBull\MediaBundle\Security\PublicSecurityStrategy

    NetBull\MediaBundle\Security\ForbiddenSecurityStrategy: ~

    netbull_media.security.forbidden_strategy:
        alias: NetBull\MediaBundle\Security\ForbiddenSecurityStrategy

    netbull_media.security.superadmin_strategy:
        class: NetBull\MediaBundle\Security\RolesSecurityStrategy
        autowire: false
        arguments:
            - '@security.authorization_checker'
            - ['ROLE_SUPER_ADMIN', 'ROLE_ADMIN']

    netbull_media.security.connected_strategy:
        class: NetBull\MediaBundle\Security\RolesSecurityStrategy
        autowire: false
        arguments:
            - '@security.authorization_checker'
            - ['IS_AUTHENTICATED_FULLY', 'IS_AUTHENTICATED_REMEMBERED']

    NetBull\MediaBundle\Security\HashSecurityStrategy: ~

    netbull_media.security.hash_strategy:
        alias: NetBull\MediaBundle\Security\HashSecurityStrategy

    # Filesystem / Gaufrette
    netbull_media.wrapper.s3:
        class: Aws\S3\S3Client
        autowire: false
        arguments:
            - {}  # options - set by extension

    netbull_media.adapter.filesystem.local:
        class: NetBull\MediaBundle\Filesystem\Local
        autowire: false
        arguments:
            - ''  # directory - set by extension

    netbull_media.adapter.filesystem.s3:
        class: Gaufrette\Adapter\AwsS3
        autowire: false
        arguments:
            - '@netbull_media.wrapper.s3'
            - ''  # bucket - set by extension
            - {}  # options - set by extension

    netbull_media.filesystem.local:
        class: Gaufrette\Filesystem
        autowire: false
        arguments:
            - '@netbull_media.adapter.filesystem.local'
        public: true

    netbull_media.filesystem.s3:
        class: Gaufrette\Filesystem
        autowire: false
        arguments:
            - '@netbull_media.adapter.filesystem.s3'
        public: true

    Gaufrette\Filesystem:
        alias: netbull_media.filesystem.s3

    # netbull_media.filesystem.local.server is created dynamically when S3 is configured

    # Metadata
    NetBull\MediaBundle\Metadata\AmazonMetadataBuilder:
        public: true

    netbull_media.metadata.amazon:
        alias: NetBull\MediaBundle\Metadata\AmazonMetadataBuilder

    # Form Types
    NetBull\MediaBundle\Form\Type\:
        resource: '../src/Form/Type/*'
        exclude: '../src/Form/Type/BaseType.php'

    # Twig Extension
    NetBull\MediaBundle\Twig\MediaExtension:
        public: true

    # Helpers
    NetBull\MediaBundle\Helpers\PathGenerator:
        public: true

    # Console Commands
    NetBull\MediaBundle\Command\PhotoCreateThumbnailCommand:
        tags:
            - { name: console.command, command: 'netbull:media:create-thumbnail' }

    NetBull\MediaBundle\Command\PhotoResizeCommand:
        tags:
            - { name: console.command, command: 'netbull:media:sync-thumbnails' }

    NetBull\MediaBundle\Command\PhotoResizeMissingCommand:
        tags:
            - { name: console.command, command: 'netbull:media:resize' }

    NetBull\MediaBundle\Command\MediaCloneCommand:
        tags:
            - { name: console.command, command: 'netbull:media:clone' }

    # Controller
    NetBull\MediaBundle\Controller\MediaController:
        public: true
        calls:
            - setContainer: ['@service_container']
